* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
.navbar{
  padding-top: 0px !important;
  padding-bottom: 0% !important;
}
.navbar-button {
  background: #131C61;
  border: none;
  color: #ffffff;
  padding: 0em 1em;
  border-radius: 10px;
  font-size: 1.3em;
  margin: 0.2em 0px;
}
.priceLanding {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 4em 0;
  background-color: #fff;
  /* background: hwb(350 92% 6%); */
  /* background-image: linear-gradient(hwb(350 92% 6%), #ffffff); */
}
.priceLandingRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.priceLandingRowHead {
  font-size: 3.2vw;
  padding-bottom: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: black;
}
.priceLandingRowPara {
  font-weight: 700;
  font-size: 2.5vw;
  color: #131C61;
  width: 80%;
  /* background-color: aqua; */
  text-align: center;
}
.pricing-image{
  padding: 1.7em;
}
.monthyearDiv {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-color: #f1eaea;
border-width: 1px;
border-style: solid;
border-radius: 10px;

filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.16 ));

background: #ffffff
}
.monthly,
.yearly {
  border: none;
}
.monthly {
  border-color: #f1eaea;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  background-color: #131C61;
  filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.16 ));
  color: #ffffff;
  font-weight: 700;
  font-size: 1.5vw;
  padding: 0.8rem 5rem;
  /* width: 192px; */
}
.yearly {
  font-weight: 700;
  color: black;
  font-size: 1.5vw;
   padding: 0.7rem 1.3rem;
   padding: 0.8rem 5rem;
   background-color: #ffffff;
  border-radius: 10px;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 4.5vw;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}
.card {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
  background-color: #e6ffe6 !important;
  /* box-shadow: 0 0 5pt 2pt #d3d3d3; */
  /* border: none; */

  border-color: #f1eaea;
/* border-width: 1px; */
border: none !important;
border-radius: 10px !important;
filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.16 ));

}
.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}
.card-title{
  color: black;
  font-size: 1.5vw;
}
.card-text{
  color: #4B4B4B;
  font-weight: bold;
  font-size: 1vw;
}
.amount{
  font-weight: bold;
  color: black;
  font-size: 1.2vw;
}
.month-text{
  color: black;
  font-size: 1.1vw;
  font-weight: 600;
}
.try {
  margin: 1.5rem 0;
  font-weight: bold;
  padding: 0.8em 3em;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
}
.landing-section-card-lower-div3 {
  position: absolute;
  background: #DA8A4C;
  width: 75vw !important;
  height:57em;
  left: 13%;
  top: 17%;
}
.landing-section-fourth-Img{
  padding-left: 3.5em !important;
}
.box{
  padding-bottom: 0% !important;
}
.box ul{
  margin: 1em;
  font-size: 1.5em;
}
.box ul li{
  color: black;
  font-weight: 400 !important;
  margin-bottom: 0.5em;
}
ol,
ul {
  padding-left: 0 !important;
}
li{
  color: black;
  font-weight: bold;
}
ul p{
  color: #4B4B4B;
  font-weight: bold;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.nav-link{
  font-size: 1.3em !important;
}
@media (max-width: 767px) {
  .cards {
    flex-direction: column;
    justify-content: center;
  }
  .card{
    width: 100%;
  }
  .monthyearDiv {
    flex-direction: column;
  }
  .priceLandingRowPara {
    font-size: 20px;
    color: #341f97;
    width: auto;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .cards {
        gap: 1rem;
    }
}